@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
  --background-primary: rgb(86, 156, 86);
  --background-secondary: rgb(77, 119, 64);
  --calculator-primary: rgb(75, 109, 155);
  --buttons-primary: rgb(54, 55, 56);
  --buttons-secondary: rgb(139, 39, 69);
  --buttons-font: rgb(196, 198, 199);
  --buttons-shadow: rgb(148, 148, 148);
  --display-primary: rgb(46, 40, 40);
  --display-secondary: rgb(173, 182, 179);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 50px;
  max-width: 100vw;
  max-height: 100vh;
  background: var(--background-primary);
  background: linear-gradient(
    90deg,
    var(--background-primary) 0%,
    var(--background-secondary) 100%
  );
}

/* OUTSIDE BOX OF CALCULATOR */
.calculator-outer {
  width: 320px;
  height: 420px;
  padding: 15px;
  background-color: var(--calculator-primary);
  border-radius: 10px;
  border: 1px solid var(--buttons-primary);
  margin: 0 auto;
  box-shadow: 5px 10px 10px;
}

/* MAIN LAYOUT */
.calculator {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: var(--calculator-primary);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr repeat(5, 1fr);
  gap: 5px;
}

/* BUTTONS */
button {
  background-color: var(--buttons-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: -1px -1px var(--buttons-shadow);
  color: var(--buttons-font);
}
button:hover {
  cursor: pointer;
}
button:active {
  box-shadow: 0 0;
  position: relative;
  transform: translate(1px, 1px);
}

/* ALL CLEAR BTN */
.ac {
  grid-column: 1/3;
  background-color: var(--buttons-secondary);
}

/* DISPLAY */
.display {
  border-radius: 5px;
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  font-family: 'Chakra Petch', sans-serif;
  color: var(--display-secondary);
  background-color: var(--display-primary);
}

/* TOP AND BOTTOM ROW OF DISPLAY */
.display-cur,
.display-prev {
  padding: 0 5px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

/* BOTTOM ROW OF DISPLAY */
.display-cur {
  height: 70%;
  font-size: 2.4rem;
  word-break: break-all;
  align-items: flex-end;
}

/* TOP ROW OF DISPLAY */
.display-prev {
  height: 30%;
  font-size: 1.2rem;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
}
