@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  padding-top: 50px;
  max-width: 100vw;
  max-height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.calculator-outer {
  width: 320px;
  height: 420px;
  padding: 15px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 5px 10px 10px;
}

.calculator {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr repeat(5, 1fr);
  gap: 3px;
}

button {
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 1.5px;
}

button:hover {
  background-color: rgb(151, 148, 148);
  cursor: pointer;
}

button:active {
  background-color: darkgrey;
  box-shadow: -1px -1px;
}

.display {
  border-radius: 5px;
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow: #0dc28e 0 0 5px;
  color: #03b885;
  background-color: rgb(46, 40, 40);
  word-break: break-all;
  max-height: 100%;
}

.display-cur,
.display-prev {
  padding: 0 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.display-cur {
  height: 80%;
  text-align: right;
  font-size: 2.5rem;
}

.display-prev {
  height: 20%;
  text-align: right;
  font-size: 1rem;
}

.ac {
  grid-column: 1/3;
}
